body {
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.options-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

.option-button {
    background-color: lightskyblue;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

.option-button:hover {
    background-color: lightseagreen;
}

.option-button.correct {
    background-color: rgb(50, 200, 50);
}

.option-button.incorrect {
    background-color: rgb(200, 50, 50);
}

.option-button.disabled {
    pointer-events: none;
    opacity: 0.8;
}
